PRIVATE_KEY=
RPC_URL=
REGISTRY_ADDRESS=0x09bb3F7339f9617CD601D2EB07106041d3aeCA04
SIGNER_IDENTITY=
GITHUB_REPO=
GITHUB_BRANCH=main
PROVENANCE_REPO_DIR=/absolute/path/to/your/local/clone/of/provenance-artifacts